#signup-page {
  flex: 1 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#signup-page button {
  background: transparent;
  font-weight: bold;
  padding: 1em;
  cursor: pointer;
}

#signup-page form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#signup-page form > * {
  margin: 10px 0;
  padding: 10px;
}
